<?php

namespace App\Modules;

use App\Interfaces\ModuleInterface;

class {code-dummy}Module implements ModuleInterface
{
    public function draw(array $settings): string
    {
        return view('modules.{code-slug}', compact('settings'))->render();
    }
}
